@model SocialNetwork.Models.Home.PostHomeIndexViewModel

<div class="col-8" style="word-wrap: break-word; margin-top:100px; border:solid ;border-radius: 25px; border-color:darkgray">
    <div class="text-secondary" align="left">
        <partial name="_LinkToProfile" model="new LinkToProfileViewModel(Model.UserId,Model.UserAvatarCode,Model.Username,50)" />
        <h4>@Model.Description</h4>
        <img style="width: 100%;border : 5px solid" src="@Model.Code" />
        <h5>@Model.TimeSinceCreated</h5>
        <br />
    </div>
    <div>
        @{
            var likeOrUnlikeButtonPath = "fas fa-thumbs-down";
            if (Model.HasCurrentUserLikedThePost == false)
            {
                likeOrUnlikeButtonPath = "fas fa-thumbs-up";
            }
        }

        <div style="margin-bottom:20px">
            <button class="bg-transparent" onclick="userLikedOrUnlikedPost('@(Model.LogedIdUserId)','@(Model.PostId)')">
                <i style="font-size:20px" id="@(Model.PostId)image" class="@likeOrUnlikeButtonPath"></i>
            </button>
            <button id="@(Model.PostId)likesButton" @*class="dropbtn"*@ onclick="showModalWindowForLikesOfPost('@Model.PostId')">
                <strong id="@(Model.PostId)likesCount">@Model.UsersLikedThePost.Count</strong>
                <strong>likes</strong>
            </button>
        </div>

        <div id="@(Model.PostId)likesModalWindow" class="modal">
            <div class="modal-content">
                <span id="@(Model.PostId)likesModalWindowClose" class="close">&times;</span>
                <div id="@(Model.PostId)usersLikedThePostExtendetView">
                    @foreach (var user in Model.UsersLikedThePost)
                    {
                        <partial name="_LinkToProfile" model="new LinkToProfileViewModel(user.Id,user.Avatar,user.UserName,40)" />
                    }
                </div>
            </div>
        </div>

        <div>

            <button onclick="showOrHideCommentsSection('@Model.PostId')">
                <i class="fas fa-comments"></i><strong id="@(Model.PostId)commentsCount"> @Model.Comments.Count </strong>
            </button>


            <button id="@(Model.PostId)buttonForShowingOrHidingTheAddCommentSection" style="margin:5px" onclick="showOrHideAddCommentSection('@Model.PostId')"><i class="fas fa-comment-medical"></i></button>
        </div>
    </div>

    @{
        var partialViewForComment = await Html.PartialAsync("_LinkToProfile", new LinkToProfileViewModel(Model.LogedIdUserId, Model.UserAvatarCode, Model.Username, 40));
    }
    <div id="@(Model.PostId)addCommentSection" class="col-4" style="margin:10px;display:none">
        <div style="margin : 5px">
            <input width="60" type="text" name="comment" class="form-control" id="@(Model.PostId)addCommentField" style="font-family:sans-serif;font-size:1.2em;">
        </div>
        <button class="form-control btn btn-secondary" value="Add Comment"
                onclick="addComment('@(Model.LogedIdUserId)', '@(Model.PostId)', jQuery('#@(Model.PostId)addCommentField').val())">
            Comment
        </button>
    </div>
    <div style="display:none" id="@(Model.PostId)commentsSection" class="col-5">
        @foreach (var comment in Model.Comments)
        {
            <partial name="_LinkToProfile" model="new LinkToProfileViewModel(comment.UserId,comment.UserAvatar,comment.Username,40)" />
            <p style="word-wrap: break-word;">@comment.Content</p>
        }
    </div>
</div>
