@{
    ViewData["Title"] = "Home Page";
}
@using SocialNetwork.Models.Home
@using System.Linq
@using System.Security.Claims

@model NewsFeedHomeIndexViewModel



<div class="text-center">
    <h1 class="display-4 text-secondary">Welcome, @ViewData["username"]</h1>
    <br />
    <div>
        <h1><a class="btn btn-secondary col-8" href="Home/NewPost">Add new post to your page</a></h1>
    </div>
    @if (User.Identity.IsAuthenticated == true)
    {
        @foreach (var post in Model.Posts)
        {
            <div style="margin-top:100px;">
                <div class="text-secondary col-2 col-3" align="left">
                    <a href="/Users/Profile/?userId=@post.UserId">
                        <div>
                            <img style=" border-radius: 50%; width : 50px ; height: 50px" src="@post.UserAvatarCode" alt="Alternate Text" /> <b>@post.Username</b>
                        </div>
                    </a>
                    <h4>@post.Description</h4>
                    <img style="width: 800px ;border : 5px solid" src="@post.Code" />
                    <h5>@post.DateTimeCreated</h5>
                    <br />
                </div>
                <div class="col-2">
                    @foreach (var comment in post.Comments)
                    {
                        <p>@comment.Username says: </p>
                        <p>@comment.Content</p>
                    }
                </div>
                <div class="col-2">
                    <form action="/Comments/NewComment/?postId=@post.PostId&creatorId=@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" method="post">
                        <div class="col-2">
                            <textarea name="comment" id="comment" style="font-family:sans-serif;font-size:1.2em;">Write comment!</textarea>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <h1>
            <a class="text-secondary" href="/Identity/Account/Login">Login</a>,
            or <a class="text-secondary" href="/Identity/Account/Register">Register</a>, if you don't have an account
        </h1>
    }
</div>

