@{
    ViewData["Title"] = "Home Page";
}
@using SocialNetwork.Models.Home
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using SocialNetwork.DatabaseModels
@using SocialNetwork.Models

@inject SignInManager<SocialNetworkUser> SignInManager

@model NewsFeedHomeIndexViewModel

<div class="text-center">
    <h1 class="display-4 text-secondary">Welcome, @Model.Username</h1>
    <br />
    <div>
        <h1><a class="btn btn-secondary col-8" href="Home/NewPost">Add new post to your page</a></h1>
    </div>
    @if (SignInManager.IsSignedIn(this.User))
    {
        @foreach (var post in Model.Posts)
        {
            <div class="col-10" style="margin-top:100px; border:solid">
                <div style="margin:10px" class="text-secondary col-2 col-3" align="left">
                    <partial name="_LinkToProfile" model="new LinkToProfileViewModel(post.UserId,post.UserAvatarCode,post.Username,50)"/>
                    <h4>@post.Description</h4>
                    <img style="width: 800px ;border : 5px solid" src="@post.Code" />
                    <h5>@post.TimeSinceCreated</h5>
                    <br />
                </div>
                <div class="col-5">
                    @foreach (var comment in post.Comments)
                    {
                        <partial name="_LinkToProfile" model="new LinkToProfileViewModel(comment.UserId,comment.UserAvatar,comment.Username,40)"/>
                        <p>@comment.Content</p>
                    }
                </div>
                <div class="col-4" style="margin:10px">
                    <form action="/Comments/NewComment/?postId=@post.PostId&creatorId=@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" method="post">
                        <div style="margin : 5px">
                            <input width="60" type="text" name="comment" class="form-control" id="comment" style="font-family:sans-serif;font-size:1.2em;">
                        </div>
                        <input class="form-control" type="submit" value="Add Comment  ">
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <h1>
            <a class="text-secondary" href="/Identity/Account/Login">Login</a>,
            or <a class="text-secondary" href="/Identity/Account/Register">Register</a>, if you don't have an account
        </h1>
    }
</div>

