@{
    ViewData["Title"] = "Home Page";
}
@using SocialNetwork.Models.Home
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using SocialNetwork.DatabaseModels
@using SocialNetwork.Models

@inject SignInManager<SocialNetworkUser> SignInManager

@model NewsFeedHomeIndexViewModel

<div class="text-center">
    <h1 class="display-4 text-secondary">Welcome, @Model.Username</h1>
    <br />
    <div>
        <h1>
            <a class="col-8 btn btn-light" asp-controller="Home" asp-action="NewPost">
                <img src="~/pics/add_post_button.png" alt="Alternate Text" width="80" height="80" />
            </a>
        </h1>
    </div>
    @if (SignInManager.IsSignedIn(this.User))
    {
        @foreach (var post in Model.Posts)
        {
            <div class="col-8" style=" margin-top:100px; border:solid">
                <div class="text-secondary" align="left">
                    <partial name="_LinkToProfile" model="new LinkToProfileViewModel(post.UserId,post.UserAvatarCode,post.Username,50)" />
                    <h4>@post.Description</h4>
                    <img style="width: 100%; ;border : 5px solid" src="@post.Code" />
                    <h5>@post.TimeSinceCreated</h5>
                    <br />
                </div>
                <div class="col-7">

                    <button class="bg-transparent" onclick="userLikedPost('@(User.FindFirstValue(ClaimTypes.NameIdentifier))','@(post.PostId)')">
                        <img align:left src="~/pics/like_button.png" width="50" height="50" />
                    </button>
                    <strong id="@(post.PostId)likesCount">@post.UsersLikedThePost.Count</strong> <strong>likes</strong>

                    <strong> @post.Comments.Count </strong><strong>comments</strong>

                </div>
                @foreach (var username in post.UsersLikedThePost)
                {
                    <p>@username</p>
                }
                <div class="col-5">
                    @foreach (var comment in post.Comments)
                    {
                        <partial name="_LinkToProfile" model="new LinkToProfileViewModel(comment.UserId,comment.UserAvatar,comment.Username,40)" />
                        <p style="word-wrap: break-word;">@comment.Content</p>
                    }
                </div>
                <div class="col-4" style="margin:10px">
                    <form action="/Comments/NewComment/?postId=@post.PostId&creatorId=@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" method="post">
                        <div style="margin : 5px">
                            <input width="60" type="text" name="comment" class="form-control" id="comment" style="font-family:sans-serif;font-size:1.2em;">
                        </div>
                        <input class="form-control" type="submit" value="Add Comment  ">
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <h1>
            <a class="text-secondary" href="/Identity/Account/Login">Login</a>,
            or <a class="text-secondary" href="/Identity/Account/Register">Register</a>, if you don't have an account
        </h1>
    }
</div>

@section Scripts
{
    <script src="~/js/Home/index.js"></script>
}

